[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-model-utils = "*"
python-dateutil = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
